.btn-container{
    margin-top: 17px;
}
.btn{
    border: solid 0px;
}
.bnt:hover{
    transform: scale(1.1,1.1);
    transition: all 500ms;
}
ion-icon {
    font-size: 24px;
}
ion-icon:hover {
    transform: scale(1.05,1.05);
    transition: all 500ms;
}
.contadorCarrito{
    background-color: rgba(255, 0, 0, 0);
    border: #f2f1f000 solid 1px;
    border-radius: 50px;
    width: 17px;
    height: 17px;
    position: absolute;
}
.numero{
    font-size: 15px;
    position: absolute;
    top: -7px;
    left: 27px;
}