.contenedorProductos{
    margin-top: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.imgTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 1px;
}
.divisor{
    border-bottom: solid 1px;
}